@import url(https://fonts.googleapis.com/css2?family=Exo&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sanchez&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Texturina&display=swap); // NotFound variables
$errorFont: "Exo", sans-serif;

$headerFont: "Sanchez", serif;
$regularFont: "Roboto", sans-serif;

$breakpoint-tablet: 760px;
