.username {
    color: white;
    margin-right: 8px;
}

//.useractions {
//    align-items: center;
//}

.exitIcon {
    color: white;
    background-color: deepskyblue;
    border: none;

    &:hover {
        cursor: pointer;
        color: gray;
    }
}

.favorites {
    color: white;

    &:hover {
        color: gray;
    }
}
//
//.profilebuttons {
//    text-align: center;
//}
